
body.light {
    background-color: #ffffff;
    color: #222;
    font-family: 'Segoe UI', sans-serif;
  }
  

  body.dark {
    background-color: #121212;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body.dark h1, body.dark h2, body.dark h3 {
    color: #ffffff;
  }
  
  body.dark code, body.dark pre {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
 
 
  